
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #fffaf5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
     box-shadow: 10px 10px 8px #aaaaaa;
     position:sticky;
}

header img{
    width: 70px;
    gap: 20px;
}
#nike {
    color: orange;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 80px;
    height: 90vh;
}

.hero-img {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 40%;
}

.product-title {
    font-size: 4rem;
    color: #ff7043;
}

.product-title span {
    color: #2c3e50;
}

.product-description {
    margin: 20px 0;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}


.btn{
    background-color: #007bff; 
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease, transform 0.2s ease; /*is se butter ki trhn upr jaega hovr pr*/
}

.btn:hover{
    background-color: #0056b3;
    transform: translateY(-2px); /*is se button uper ki trf hojata ha click per*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /*nichy shadow ajaega click pr */
}
.btn:active {
  transform: translateY(0); /*btn bounce hoga click per */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.product {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap; 
}

.image-box {
  background: #e5e5e5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: auto;
}
.price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #e53e3e;
}
.cart-icon {
    font-size: 1rem;
}
.container {
    max-width: 1300px;
    margin: 50px auto;
    padding: 0 20px;
    background-color: #E5E5E5;;
}

.boxes {
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #e1e8ed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
      flex: 1; 
      min-width: 300px; 
      padding: 15px;
      text-align: left;
}

.product-info {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 5%;
    width: 100%;
}


.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* max-width: 49%; */
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
width: 80%;
}

.card img {
    width: 50%;
}

.content-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-1 h3 {
    display: flex;
    
    color: #444;
}

.hero-1 {
    max-width: 50%;
}

.hero-1 img {
    width: 100%;
    height: auto;
}

.news{
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
}
.news h2 {
    margin-bottom: 20px;
}
.news input {
    width: 800px;
    padding: 10px;
    border: 1px solid rgb(20, 18, 18);
}

.last-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 10px;
    background-color: #f1f2f4;
}
.footer-lines h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #774f4f;
}
.footer-lines ul{
    list-style: none;
}

.footer-lines ul li{
    display: flex;
    margin-bottom: 10px;
}
.footer-lines ul li :hover {
    color: blanchedalmond;
}
.logo {
    
    text-align: center;
    font-size: 15px;
    color: black;
    justify-content: center;
}
